 
 <h3>Друг мой, зарегистрируйся</h3>
 <form action="/reg" method="POST"></form>
 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="login" type="text" class="validate">
          <label for="login">Логин</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="pass" type="text" class="validate">
          <label for="pass">Пароль</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="pass2" type="text" class="validate">
          <label for="pass2">Подтверждение пароля</label>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
  <div class="row">
    <a class="waves-effect waves-light btn" type="submit">Зарегистрироваться</a>
 </div>
 </div>
 </form>